@media (max-width: 1050px) {
    .social__row {
        flex-wrap: wrap;
        justify-content: center;
    }
    .social_row_block {
        margin-bottom: 30px;
        text-align: center;
        margin-right: 0;
    }
    .social__block_title {
        font-size: 20px;
    }
    .social__block_text {
        font-size: 14px;
    }
}

@media (max-width: 950px) {
    .insert__row {
        flex-wrap: wrap;
        justify-content: center;
    }
    .insert__body_info {
        margin-bottom: 50px;
        max-width: 650px;
        text-align: center;
    }
    .insert__title:after {
        display: none;
    }
    .insert__text {
        font-size: 16px;
    }
    .social__item {
        margin-bottom: 10px;
    }
}

@media (max-width: 750px) {
    .social__icons {
        flex-wrap: wrap;
        justify-content: center;
    }
    .social_row_block {
        
    }
}

@media (max-width: 550px) {
    .menu__list {
        flex-wrap: wrap;
        margin-left: 20px;
    }

    .menu__item:not(:last-child) {
        margin-bottom: 10px;
    }
}